# Configuración de la aplicación
NODE_ENV=production
PORT=3000

# Configuración de la base de datos
DB_HOST=your-postgres-host
DB_PORT=5432
DB_NAME=your-database-name
DB_USER=your-database-user
DB_PASSWORD=your-database-password

# Configuración de Wompi
WOMPI_API_URL=https://api.wompi.co/v1
WOMPI_PUBLIC_KEY=your-wompi-public-key
WOMPI_PRIVATE_KEY=your-wompi-private-key
WOMPI_EVENTS_KEY=your-wompi-events-key
WOMPI_INTEGRITY_KEY=your-wompi-integrity-key

# Para desarrollo/testing (UAT/Staging)
# WOMPI_API_URL=https://sandbox.wompi.co/v1
# WOMPI_PUBLIC_KEY=pub_stagtest_g2u0HQd3ZMh05hsSgTS2lUV8t3s4mOt7
# WOMPI_PRIVATE_KEY=prv_stagtest_5i0ZGIGiFcDQifYsXxvsny7Y37tKqFWg
# WOMPI_EVENTS_KEY=stagtest_events_2PDUmhMywUkvb1LvxYnayFbmofT7w39N
# WOMPI_INTEGRITY_KEY=stagtest_integrity_nAIBuqayW70XpUqJS4qf4STYiISd89Fp 